.Overview {
  width: 100%;
  margin: 0 auto;

  > .filters-bar-fixed {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    background: #f17d43;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
    justify-content: center;

    .search {
      max-width: 500px;
      margin-bottom: 0;
    }

    .categories-box {
      display: flex;
      align-items: center;
      flex: 1;
      gap: 5px;
      justify-content: flex-end;

      button {
        padding: 6px 15px;
        border: 1px solid #fecc6e;
        background: #fecc6e;
        color: #f18b90;
        cursor: pointer;
        width: auto;
        flex-shrink: 0;

        &.active {
          background: black;
          color: white;
        }
        &:hover {
          background: black;
          color: #f18b90;
        }
      }
    }
  }

  > .questions {
    max-width: 900px;

    h1 {
      border-bottom: 2px dashed orange;
      padding: 10px 0;
      margin: 0;
      text-align: center;
      color: rgb(90 125 148);
      margin-bottom: 2rem;
    }
  }
}
