.Overview {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;

  > .filters {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    margin-bottom: 48px;
    > .control {
      max-width: 500px;
      margin-bottom: 0;
    }

    .categories {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      gap: 5px;
      justify-content: flex-end;
      gap: 5px;
      > button {
        padding: 6px 15px;
        border: 1px solid #fecc6e;
        background: #fecc6e;
        color: #f18b90;
        cursor: pointer;

        &.active {
          background: black;
          color: white;
        }

        &:hover {
          background: black;
          color: #f18b90;
        }
      }
    }
  }
  > .questions {
    max-width: 1000px;
    padding: 10px 20px;
    margin: 0 auto;
    gap: 40px;
    display: flex;
    flex-direction: column;
    > h1 {
      border-bottom: 2px dashed orange;
      padding: 10px 0;
      margin: 0;
      text-align: center;
      color: rgb(90 125 148);
    }
    > .question {
      text-decoration: none;
      color: black;
      border: 1px solid #ceae8c;
      background: white;
      border-radius: 22px;
      padding: 10px;
      &:hover {
        background-color: #fecc6e;
        color: black;
      }
      > h4 {
        color: #333;
        font-weight: 200;
        margin: 10px auto;
        padding-bottom: 10px;
        border-bottom: #924823 solid 1px;
      }
      > p {
        color: rgb(229 130 71 / 74%);
      }
    }

    > .profileImage {
      border-radius: 50%;
      border-color: black;
      border-width: 1px;
      border-style: solid;
    }

    > .profile {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
